<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.towson.cosc435.labsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TaskNineBActivity"></activity>
        <activity android:name=".TaskElevenActivity" />
        <activity android:name=".TaskTenActivity" />
        <activity android:name=".TaskNineActivity" />
        <activity android:name=".TaskEightActivity" />
        <activity android:name=".TaskSevenActivity" />
        <activity android:name=".TaskSixActivity" />
        <activity android:name=".TaskTwoActivity" />
        <activity android:name=".TaskFiveActivity" />
        <activity android:name=".TaskFourActivity" />
        <activity android:name=".TaskThreeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>